{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<div class="container">
<div class="row">
    <div class="col-md-8 col-sm-offset-2 text-center">
        {% if current_user.is_authenticated %}
        <h1></h1>
        {% else %}
        <h1>Welcome to Avalon KOA system</h1>
        <form method="POST" action="">
            <h3 class="form-signin-heading">Please sign in</h3>
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>
</div>
</div>
{% endblock body %}
