/*-- reset --*/

img{display:block}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clearfix{clear:both;zoom:1}
.hide{display:none}

body {background: #000000;background-size: 100% auto;font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";}

/*-- sort --*/
/* .sort {width:80%;padding:0 10%;height: 2.0rem; margin-top: -1rem; background: url(/static/img/sort_bg.jpg) no-repeat;background-size: 100% auto; position: relative;} */
.sort {width: 100%;padding:0;height: 2.0rem; margin-top: -1.2rem; position: relative; text-align: center;}
.sort::after{ content: ''; width: 100%; height: 1.12rem /* 84/75 */; position: absolute; top: 0.65rem; left: 0; background: url(/static/img/sort_after.png) no-repeat; background-size: 100% auto; background-position: top center; }
.sort li { display: inline-block; height: .8rem /* 60/75 */; width: 2.853333rem /* 214/75 */;height: 0.8rem;padding-top: 0;text-align: center;margin:0 .08rem /* 6/75 */;position: relative; background: url(/static/img/sort_btn.png) no-repeat; background-size: 100% 100%;}
.sort li.active{ background-image: url(/static/img/sort_btn_active.png); }
.sort span {display: inline-block;width:0.466667rem;height: 0.466667rem;margin-right:0.1rem;position: relative; top: .17rem;}
.sort i {font-size:0;line-height:0;border-width:0.1rem;border:0.1rem solid #8e8e8e;border-bottom:0;border-left-color: transparent;border-right-color: transparent;position: absolute;top:0.35rem;-webkit-transition: transform .2s ease-out 0s;-moz-transition: transform .2s ease-out 0s;transition: transform .2s ease-out 0s;}
.sort i.active { border-top-color: #000; -webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg)}
    .hot span {background: url(/static/img//icon_01.png) no-repeat;background-size: 100% auto;}
    .hot.active span {background: url(/static/img//icon_01.png) no-repeat 0 -0.466667rem;background-size: 100% auto;}
    .up span {background: url(/static/img//icon_02.png) no-repeat;background-size: 100% auto;}
    .up.active span {background: url(/static/img//icon_02.png) no-repeat 0 -0.48rem;background-size: 100% auto;}
    .time span {background: url(/static/img//icon_03.png) no-repeat;background-size: 100% auto;}
    .time.active span {background: url(/static/img//icon_03.png) no-repeat 0 -0.48rem;background-size: 100% auto;}

.sort_hot {background:url(/static/sort_hot.jpg) no-repeat;background-size: 100% auto;}
.sort_up {background:url(/static/sort_up.jpg) no-repeat;background-size: 100% auto;}
.sort_time {background:url(/static/sort_time.jpg) no-repeat;background-size: 100% auto;}

/*-- grid --*/
.grid {padding-left:0.266667rem;}

.vue-waterfall-easy-scroll{ background: url(/static/img/scroll_bg.png) repeat-y; background-size: 100% auto; }

.item {margin:0 0.266667rem 0.266667rem 0;position: relative; border: .026667rem /* 2/75 */ solid #705333;}
.item img {width:100%;border:0px solid #4f2b06;}
.item p {height: 0.666667rem;background: #2b1703;position: absolute; bottom: 0;left: 0; right: 0; opacity: 0.9;}
.item i,.item span {position: absolute;color:#fff;font-size:0.346667rem;bottom:1px;line-height: 0.666667rem;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}
.item i {left:0.133333rem;font-style:normal;width:2.133333rem;}
.item span {right:0.133333rem;background: url(/static/img/icon_up.png) no-repeat;background-size: auto 100%;padding-left:0.4rem;}
.item span.active {background: url(/static/img/icon_up_active.png) no-repeat;background-size: auto 100%;}


/*-- footer --*/
.footer {position: fixed;bottom:0;left:0; background: url(/static/img/footer_bg.png); background-size: 100% 100%; height:1.066667rem;padding:0.2rem 0;width:100%;}
.footer li {float:left;height: 1.066667rem;width: 33%;border-right:0px solid #000;border-left: 0px solid #2d2825;text-align: center;}
.footer li.search {border-left:0;}
.footer li.user {border-right:0;}
.footer span {display:inline-block;width:1.066667rem;height: 1.066667rem;border-radius: 0.133333rem;}
    .footer li.search span {background: url(/static/img/icon_search.png) no-repeat center;background-size:55% 55%;}
    /* .footer li.add span {background: url(/static/img/icon_add.png) #9f570c no-repeat center;background-size:55% 55%;} */
    .footer li.add span {border-radius: 0; background: url(/static/img/icon_add.png) no-repeat center;background-size: 100% 100%;}
    .footer li.user span {background: url(/static/img/icon_user.png)  no-repeat center;background-size:55% 55%;}
.footer span {text-indent: -999rem;}

/*-- dialog --*/
.dialog_bg {position: fixed;width: 100%;height: 100%;top:0;left: 0;background:rgba(0,0,0,0.8);z-index: 100001;}
.dialog {position: fixed;width: 94%; padding: .2rem /* 15/75 */; left: 3%; top:13%;z-index: 100001; -webkit-box-sizing: border-box; box-sizing: border-box;}
.search .dialog { background: url(/static/img/dialog_bg.png); background-size: 100% 100%;}
/* .center .dialog { background: url(/static/img/dialog_bg_l.png); background-size: 100% 100%;} */
.dialog h2 { height: 1.066667rem /* 80/75 */;padding: 0 0.466667rem;text-transform:uppercase; font-size: .48rem /* 36/75 */; line-height: 1.066667rem /* 80/75 */;color: #a2a1a1; position: relative;}
.dialog h2 span {width: .68rem /* 51/75 */;height: .64rem /* 48/75 */; margin-top: -.32rem /* 24/75 */; position: absolute; top: 50%; right: 0.466667rem; background: url(/static/img/icon_close.png); background-size:100% 100%;text-indent: -999rem;}
.diglog_content {text-align: center; font-size:0.46875rem; color: #a2a1a1;}
.diglog_content {padding: 0.466667rem; overflow: hidden;}
.diglog_content button {width: 2.5rem;height: 0.906667rem; background: url(/static/img/icon_ok.png); background-size: auto 100%; text-indent: 9999px; border: none;color: #fff;margin:0.72rem 0.1rem 0.133333rem;font-size:0.36875rem;}
.dialog .item img { max-width:6rem;max-height:9rem;border:1px solid #4f2b06;margin:0 auto;}

#user .item{ width: auto; min-width: 3rem; display: inline-block; }
#user .item img{border: 0;}
#user{padding: 0;}
#user h2{ height: 1.333333rem /* 100/75 */; line-height: 1.666667rem /* 125/75 */; padding: 0 .56rem /* 42/75 */; background: url(/static/img/dialog_bg_l.png) no-repeat center top; background-size: 100% auto;}
#user h2 span{margin-top: -.133333rem /* 10/75 */;}
#user .user_content{ background: url(/static/img/dialog_user_content_bg_l.png) no-repeat center bottom; background-size: 100% 100%; }

/*-- search --*/
#search {top:50%;height: 5.1rem;margin-top:-2.95rem;}
.search_content {text-align: center;}
.search_content input {width:85%; border: 1px solid #000; border-bottom: 1px solid #6c6c6c; border-right: 1px solid #6c6c6c; border-radius:3px;line-height: 0.866667rem;background: url(/static/img/icon_input.png) 10px 0 no-repeat #1a1d1f; background-size:auto 100%;font-size:0.5rem;color:#9d9d9d;text-transform:uppercase;padding-left:15%}
.search_content button {width: 5.2rem;height: 0.906667rem;background: url(/static/img/icon_ok.png); background-size: 100% 100%;border: none;color: #fff;margin:0.72rem 0 0.133333rem;font-size:0.46875rem;}

/*-- user --*/
.user_content .item,.user_content .item p {width:100%;float:none;}
.user_content .item i {width: auto;}
.status {line-height: 0.533333rem;height: .786667rem /* 59/75 */;overflow: hidden;}
.status p {float:left;color:#1f1f1f;font-size:0.373333rem;height: 0.533333rem}
.status span {float:right; width: .84rem /* 63/75 */; height: .786667rem /* 59/75 */; background: url(/static/img/icon_upload.png);background-size: 100% 100%;text-indent: -999rem;}
.status b {float:left;font-weight: 400;margin-right: 0.066667rem;height: 0.533333rem;overflow: hidden; color: #b4b8b9;}
.status i { width: .84rem /* 63/75 */; height: .786667rem /* 59/75 */; display: inline-block; float: left;}
.status i.s1 {background: url(/static/img/icon_status_01.png);background-size: 100% 100%;}
.status i.s2 {background: url(/static/img/icon_status_02.png);background-size: 100% 100%;}
.status i.s3 {background: url(/static/img/icon_status_03.png);background-size: 100% 100%;}

/*-- detils --*/
.detils {position:fixed;top:0;left:0;border:1px solid #4f2b06;background:#000;overflow: hidden; height: 100%; width: 100%;z-index: 100000;}
.detils .box {height: 100%;display: table-cell;vertical-align: middle;text-align: center;}
.detils img {width:100%;height: auto;}
.detils li {float:left;width:50%;height: 1.066667rem;color:#fff;font-size:0.32rem;}
.detils .info li {background: #1f1c1a;opacity: .9;padding-top:0.2rem;height:0.866667rem}
.detils .info li i {display: block;font-size:0.24rem;font-style:normal;}
.detils .noup li {background: #2b1806;opacity: .9;line-height: 1.066667rem}
.detils .noup li i {display:inline-block;background: url(/static/img/icon_up.png) no-repeat 0 0.133333rem;background-size: auto 70%;font-style: normal;padding-left:0.5rem;height: 1.066667rem;}
.detils .noup li i.active {display:inline-block;background: url(/static/img/icon_up_active.png) no-repeat 0 0.133333rem;background-size: auto 70%;font-style: normal;padding-left:0.5rem;height: 1.066667rem;}

.detils_back {z-index:1;position: absolute;left:0.333333rem;top:0.333333rem;height: 0.466667rem;width:0.466667rem;padding:0.266667rem;background: url(/static/img/icon_back.png) no-repeat center center;background-size: 100% auto;}
.detils_menu {position: absolute;bottom:0;left:0;width:100%;text-align: center;}

/* .backtop {position: fixed;background: url(/static/img/icon_top.png) #9f570c no-repeat center center; background-size: 50% 50%;width: 1.2rem;height: 1.2rem;right:30px;bottom:2rem;border-radius: 50%;z-index: 99999;} */
.backtop {position: fixed;background: url(/static/img/icon_top.png) no-repeat center center; background-size: 100% 100%;width: 1.2rem;height: 1.2rem;right:30px;bottom:2rem;border-radius: 50%;z-index: 99999;}

.aligncenter {clear: both; display: block; margin:auto;}


/* landscape */
@media screen and (orientation:landscape) {/*横屏*/
/*-- ipad --*/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .sort {height: 3rem;}
    }
    @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
    .sort {height: 3rem;}
    }
    @media only screen and (min-device-width : 375px) and (max-device-width : 812px){
    .sort {height: 2.5rem;}
    }

}

.lock_wrp{position:fixed; display:none; width:100%; height:100%; overflow:hidden; left:0; top:0; background-color:#000; color:rgba(255,255,255,.8); z-index:9999;}
.lock{position:fixed; left:50%; top:50%; width:250px; height:150px; margin:-75px 0 0 -125px; text-align:center;}
.lock i{position:relative; display:block; width:74px; height:110px; background:url(/static/img/iphone.png) 0 0 no-repeat; background-size:100%; margin:0 auto; -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -o-transform:rotate(-90deg); -ms-transform:rotate(-90deg); transform:rotate(-90deg); -webkit-animation:iphone 1.6s ease-in infinite; -moz-animation:iphone 1.6s ease-in infinite; -o-animation:iphone 1.6s ease-in infinite; -ms-animation:iphone 1.6s ease-in infinite; animation:iphone 1.6s ease-in infinite;}
@-webkit-keyframes iphone{0%{-webkit-transform:rotate(-90deg);}25%{-webkit-transform:rotate(0deg);}50%{-webkit-transform:rotate(0deg);}75%{-webkit-transform:rotate(-90deg);}100%{-webkit-transform:rotate(-90deg);}}
@-moz-keyframes iphone{0%{-moz-transform:rotate(-90deg);}25%{-moz-transform:rotate(0deg);}50%{-moz-transform:rotate(0deg);}75%{-moz-transform:rotate(-90deg);}100%{-moz-transform:rotate(-90deg);}}
@-o-keyframes iphone{0%{-o-transform:rotate(-90deg);}25%{-o-transform:rotate(0deg);}50%{-o-transform:rotate(0deg);}75%{-o-transform:rotate(-90deg);}100%{-o-transform:rotate(-90deg);}}
@-ms-keyframes iphone{0%{-ms-transform:rotate(-90deg);}25%{-ms-transform:rotate(0deg);}50%{-ms-transform:rotate(0deg);}75%{-ms-transform:rotate(-90deg);}100%{-ms-transform:rotate(-90deg);}}
@keyframes iphone{0%{transform:rotate(-90deg);}25%{transform:rotate(0deg);}50%{transform:rotate(0deg);}75%{transform:rotate(-90deg);}100%{transform:rotate(-90deg);}}

.details{
    width: 100%;
    height: 100%;
}
#wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
}
#scroller {
    height: 100%;
}
.detalsImg{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
