{% extends 'admin/model/list.html' %}
{% import 'rule_demo.html' as rule_demo %}


{% block list_row_actions %}
    {{ super() }}
  <form class="icon" method="POST" action="/admin/artwork/action/">
    <input id="action" name="action" value="approve" type="hidden">
    <input name="rowid" value="{{ get_pk_value(row) }}" type="hidden">
    <button onclick="return confirm('Are you sure you want to approve selected artworks?');" title="Approve">
      <span class="fa fa-ok glyphicon glyphicon-ok"></span>
    </button>
  </form>

  <form class="icon" method="POST" action="/admin/artwork/action/">
    <input id="action" name="action" value="reject" type="hidden">
    <input name="rowid" value="{{ get_pk_value(row) }}" type="hidden">
    <button onclick="return confirm('Are you sure you want to reject selected artworks?');" title="Reject">
      <span class="fa fa-remove glyphicon glyphicon-remove"></span>
    </button>
  </form>
{% endblock %}

{% block body %}
{{super()}}
<style type="text/css">
.artimg {width: 50px; max-width:50px; height:50px; max-height:50px;}
.artimg_big {max-height: 400px; max-width:400px;}
</style>

<script src="{{ url_for('admin.static', filename='vendor/jquery.min.js') }}" type="text/javascript"></script>
<script language="javascript">
//鼠标经过图片，图片放大。
$('img[hint]').each(function(){
	var bigsrc = $(this).attr('hint');
	bigsrc = $.trim(bigsrc);
	if(bigsrc != ''){
		$(this).mousemove(function(e){
			showPic(bigsrc,e);
		});
		$(this).mouseout(function(){
			hiddenDiv();
		});
	}
});


//显示图片。
function showPic(imgUrl,e){
    showDiv("<img class=\"artimg_big\" src='" + imgUrl + "' />", e, imgUrl);
}

//跟随鼠标的浮动层
function showDiv(divHtml, e, url){
    var width = e.currentTarget.naturalWidth > 400 ? 400 : e.currentTarget.naturalWidth
    var height = e.currentTarget.naturalHeight > 400 ? 400 : e.currentTarget.naturalHeight
    var x = e.pageX - width - e.currentTarget.clientWidth
    var y = e.pageY - height / 2
    var html = "<div id=\"Layer1\" style=\"position:absolute;z-index:10000;\"></div>";
    if($("#Layer1").length <= 0) $(document.body).append(html);//判断对象是否存在，最好用length
		if($.trim($("#Layer1").html()) == '') { //避免重复填充，重复填充在IE6中会有闪烁
				$("#Layer1").html(divHtml);
		}
    $('#Layer1').css({'left':x+"px", 'top':y+"px"});
}

//隐藏层
function hiddenDiv(){
    $('#Layer1').remove();//直接从流中移去
}
</script>
{% endblock %}
