<template>
  <div id="app_com">
    <vueWaterfallEasy
      :imgsArr="imgsArr"
      @scrollReachBottom="getData"
      :maxCols=2
      :reachBottomDistance=0
      link-range="img"
      :loadingTimeOut=500
      :height=waterfallHeight
    >
  <div slot="waterfall-head">
        <div align="center">
          <img src="/static/img/body_bg.jpg" width="100%">
        </div>
        <div class="sort">
        <ul>
            <li :class="sortType==='editor'?'hot active':'hot'" v-on:click="sortByEditor"><span></span>
              <i :class="sortType==='editor'?'active':''"></i>
            </li>
            <li :class="sortType==='votes'?'up active':'up'" v-on:click="sortByVotes"><span></span>
              <i :class="sortType==='votes'?'active':''" ></i>
            </li>
            <li :class="sortType==='time'?'time active':'time'" v-on:click="sortByTime"><span></span>
              <i :class="sortType==='time'?'active':''"></i>
            </li>
        </ul>
        </div>
      </div>
    <template slot-scope="props">
      <img :src="props.value.href" v-on:click="clickImage(props.value)">
      <p></p>
      <i>No. {{props.value.id}}</i>
      <span :class="props.value.voted?'active':''" v-on:click="vote(props.value.id)">{{props.value.votes}}</span>
    </template>
    </vueWaterfallEasy>

    <div class="footer">
        <ul>
            <li class="search" v-on:click="clickSearchTab"><span>搜索</span></li>
            <li class="add"  v-on:click="clickUploadTab"><span>上传</span>
              <input type="file" v-show="false" ref="input_file" accept="image/png,image/jpeg,image/jpg;capture=camera" v-on:change="uploadRequest">
            </li>
            <li class="user" v-on:click="clickHomeTab"><span>查看</span></li>
        </ul>
    </div>
    <!-- 弹窗开始 -->
    <transition name="fade">
    <div class="dialog_bg search" v-show="searchFrameVisible">
      <div class="dialog" id="search">
          <h2><span v-on:click="closeSearchDlg">关闭</span>search picture id</h2>
          <div class="diglog_content search_content">
              <label><input type="text" placeholder="search picture id" v-model="searchId"></label>
              <button v-on:click="search">OK</button>
          </div>
      </div>
    </div>
    </transition>
    <!-- search -->

    <!-- upload info frame -->
    <transition name="fade">
    <div class="dialog_bg" v-show="uploadInfoFrameVisible">
      <div class="dialog" id="search">
        <h2></h2>
        <div class="diglog_content">
          <p> {{ uploadText }} </p>
          <br />
          <img src="/static/img/bx_loader.gif" v-show="uploadInfoIcon" class="aligncenter">
        </div>
      </div>
    </div>
    </transition>

    <transition name="fade">
      <div class="dialog_bg center" v-show="homeFrameVisible">
        <div class="dialog" id="user">
            <h2><span v-on:click="closeHomeDlg">关闭</span>my picture</h2>
            <div class="diglog_content user_content">
                <div class="item">
                    <img v-bind:src="homeImg" alt="">
                    <p></p>
                    <i>No.{{ homeId }}</i>
                    <span :class="homeVoted?'active':''">{{ homeLike }}</span>
                </div>
                <div class="status">
                    <span v-on:click="clickUploadTab">上传</span>
                    <p><b>Submission Status: {{ homeStatus }}</b><i class="s3"></i></p>
                </div>
            </div>
        </div>
      </div>
    </transition>
    <!-- user -->
    <!-- 弹窗结束 -->
    <!-- 大图开始 -->
    <transition name="fade">
      <div class="detils" v-show="detilsFrameVisible">
        <span class="detils_back" v-on:click="closeDetilsDlg"></span>

        <div class="details">
          <div id="wrapper">
            <div id="scroller">
              <div class="detalsImg" :style="{backgroundImage: 'url(' + detalsImg + ')'}"></div>
              <!-- <img v-bind:src="detalsImg" alt=""> -->
            </div>
          </div>
        </div>
        <div class="detils_menu">
          <ul class="info">
            <li><i>KINGDOM</i>{{detalsKingdom}}</li>
            <li><i>LORD NAME</i>{{detalsLordName}}</li>
          </ul>
          <ul class="noup">
            <li>NO.{{detalsId}}</li>
            <li><i :class="detalsVoted?'active':''" v-on:click="vote(detalsId)">{{detalsLike}}</i></li>
          </ul>
        </div>
      </div>
    </transition>
    <!-- 大图结束 -->
    <!--
    <div class="lock_wrp" id="lock">
        <div class="lock">
            <i></i><br />
            Portrait screen for better experience
        </div>
    </div>
  -->
    <!-- lock_wrp -->

    <transition name="fade">
    <div class="dialog_bg" v-show="commonInfoFrameVisible">
    <div class="dialog" id="search">
      <h2></h2>
      <div class="diglog_content">
        <p> {{ commonInfoFrameText }} </p>
      </div>
    </div>
    </div>
    </transition>
     <!-- common info frame -->

    <!-- log -->
    <img :src="log" alt="" class="logItem">
  </div>
</template>

<script>
import vueWaterfallEasy from './vue-waterfall-easy/vue-waterfall-easy.vue'
import { NewS3Conntection, upload_image, getKey, isEmpty } from './common/common'
const IScroll = require('iscroll/build/iscroll-zoom')

export default {
  name: 'app_com',

  data() {
    return {
      reachEnd: false,
      imgsArr: [],

      // sort
      sortType: 'editor',//editor,votes,time

      // upload tab
      imageUrl: '',
      fileList: [],

      // params from server
      albumBucketName: '',
      bucketRegion: '',
      IdentityPoolId: '',
      changeEnable: false,
      uploadInterval: 120,
      overwrite_enable:false,

      // search tab
      searchId: null,

      // pagination
      page: 0,

      // bottom sidebar
      searchFrameVisible: false,
      uploadFrameVisible: false,
      homeFrameVisible: false,
      detilsFrameVisible: false,
      detilsImageScroll: null,

      uploadText: 'Uploading',
      uploadInfoFrameVisible: false,
      uploadInfoIcon: true,
      
      commonInfoFrameText: '',
      commonInfoFrameVisible: false,

      // home
      homeImg: '',
      homeStatus: '',
      homeLike: '',
      homeId: '',
      homeVoted: '',

      //detals
      detalsImg: '',
      detalsKingdom: '',
      detalsLordName: '',
      detalsLike: '',
      detalsId: '',
      detalsVoted: false,
      waterfallHeight:0,
      log: ''
    }
  },

  components: {
    vueWaterfallEasy
  },
  methods: {
    sortByEditor() {
      this.sortType = 'editor'
      this.page = 0
      this.reachEnd = false
      this.changeImgArr()
      //console.log(this.imgsArr)
    },

    sortByVotes() {
      this.sortType = 'votes'
      this.page = 0
      this.reachEnd = false
      this.changeImgArr()
      //console.log(this.imgsArr)
    },

    sortByTime() {
      this.sortType = 'time'
      this.page = 0
      this.reachEnd = false
      this.changeImgArr()
      //console.log(this.imgsArr)
    },

    getData() {
      if (this.reachEnd === true) {
        this.imgsArr = this.imgsArr.concat([])
        return console.log('reach end')
      }
      console.log(localStorage.hash, this.sortType, this.page)
      let formData = new FormData()
      formData.append('access_token', localStorage.hash)
      formData.append('type', this.sortType)
      formData.append('page', this.page)

      this.$http.post('/api/list', formData).then(
        res => {
          let result = res.data
          if (result.rc !== 0) {
            return console.log('request error')
          }
          let arts = this.format_arts(result.arts)
          //console.log('arts', arts)
          //if (arts.length < this.size) {
          if (arts.length !== 0) {
            this.imgsArr = this.imgsArr.concat(arts)
            this.page ++
          } else {
            this.reachEnd = true
            this.imgsArr = this.imgsArr.concat([])
          }
          //console.log(this.imgsArr)
        },
        err => {
          console.log(err)
        }
      )
    },

    format_arts(artsResponseData) {
      let arts = []
      for (let i=0; i < artsResponseData.length; i++) {
        //console.log(artsResponseData[i])
        arts.push({
          'id': artsResponseData[i].art_id,
          'href': artsResponseData[i].image_url,
          'src': artsResponseData[i].image_thumb_url,
          'votes': artsResponseData[i].votes,
          'kingdom': artsResponseData[i].kingdom,
          'lord_name': artsResponseData[i].lord_name,
          'voted': artsResponseData[i].voted,
        })
      }
      return arts
    },

    changeImgArr() {
      //console.log('change image array')
      let formData = new FormData()
      formData.append('access_token', localStorage.hash)
      formData.append('type', this.sortType)
      formData.append('page', this.page)

      this.$http.post('/api/list', formData).then(
        res => {
          //console.log(this.page, this.size)
          let result = res.data
          if (result.rc !== 0) {
            return console.log('request error')
          }
          let arts = this.format_arts(result.arts)
          //console.log('arts', arts)
          if (arts.length !== 0) {
            // console.log('art', arts)
            this.imgsArr = arts
            this.page ++
          } else {
            this.reachEnd = true
            this.imgsArr = this.imgsArr.concat([])
            console.log('reach end')
          }
          //console.log(this.imgsArr)
        },
        err => {console.log(err)}
      )
    },
    getQueryStringByIndex(index){
      // if(index == null){
      //   return "";
      // }
      // var queryStringList = getQueryString();
      // if (index >= queryStringList.length){
      //   return "";
      // }
      // var result = queryStringList[index];
      // var startIndex = result.indexOf("=") + 1;
      // result = result.substring(startIndex);
      const fullpath = this.$route.fullPath.substr(this.$route.fullPath.indexOf('?') + 1).split('&')
      const query = {}
      for (let i = 0; i < fullpath.length; i++) {
        const element = fullpath[i].split('=')
        query[element[0]] = element[1]
      }
      console.log(query)
      return query[index]
    },
    vote(artId) {
      if (!this.changeEnable) {
        this.setCommonInfoFrame('Event is closed. The result is comming soon.')
        return
      }
      let formData = new FormData()
      formData.append('access_token', localStorage.hash)
      formData.append('art_id', artId)

      this.$http.post('/api/vote', formData).then(
        res => {
          if (res.data.rc !== 0) {
            this.setCommonInfoFrame('One vote per day')
            return console.log('request error')
          }

          let artId = res.data.art.art_id
          let artVote = res.data.art.votes
          for (let i = 0; i < this.imgsArr.length; i++) {
            this.imgsArr[i].voted = false
            if (this.imgsArr[i].id === artId) {
              this.imgsArr[i].votes = artVote
              this.imgsArr[i].voted = true
              this.detalsVoted = true
              this.detalsLike = artVote
            }
          }
          let params = {
            user_id: this.getQueryStringByIndex('user_id'),
            task_type: 'vote',
            game_id: this.getQueryStringByIndex('gameid')
          }
          this.$http.post('/eventapi/gog2ths/usertask', params).then(
            res => {
            },
            err => {
              console.log(err)
            }
          )
        },
        err => {
          console.log(err)
        }
      )
    },

    clickHomeTab() {
      let formData = new FormData()
      formData.append('access_token', localStorage.hash)

      this.$http.post('/api/home', formData).then(
        res => {
          if (res.data.rc !== 0) {
            return console.log('request error')
          }
          this.homeStatus = res.data.arts.approved_status
          this.homeImg = res.data.arts.img_thumb_url
          this.homeLike = res.data.arts.votes
          this.homeId = res.data.arts.art_id
          this.homeVoted = res.data.arts.voted
          this.homeFrameVisible = true
          console.log('res data', res.data)
        },
        err => {console.log(err)}
      )
    },

    closeHomeDlg() {
      this.homeFrameVisible = false
    },

    // search an artwork
    search() {
      if (isEmpty(this.searchId)) {
        this.setCommonInfoFrame('search id can\'t be empty')
        console.log('search id can\'t be empty')
        return
      }

      let formData = new FormData()
      formData.append('access_token', localStorage.hash)
      formData.append('art_id', this.searchId)

      this.$http.post('/api/search', formData).then(
        res => {
          if (res.data.rc !== 0) {
            return console.log('request error', res.data.rc)
          }

          let arts = this.format_arts([res.data.arts])

          if (arts[0].id == undefined) {
            this.setCommonInfoFrame('The Picture Is Not Found')
            return
          }
          this.reachEnd = true
          this.searchFrameVisible = false
          this.imgsArr = arts
        },
        err => {console.log(err)}
      )
    },

    // click bottom sidebar search button
    clickSearchTab() {
      this.searchId = null
      this.searchFrameVisible =true
    },

    closeSearchDlg() {
      this.searchFrameVisible = false
    },

    setCommonInfoFrame(info, keep) {
      this.commonInfoFrameVisible = true
      this.commonInfoFrameText = info
      let that = this
      if (!keep) {
        setTimeout(function() {that.commonInfoFrameVisible = false}, 2000)
      }
    },
    clickUploadTab() {
      if (!this.changeEnable) {
        this.setCommonInfoFrame('The upload period has concluded, you will still be able to vote for your favorite picture.')
        return
      }
      this.searchFrameVisible = false
      this.homeFrameVisible = false
      this.detilsFrameVisible = false
      let that = this
      let paramsData = new FormData()
      paramsData.append('access_token', localStorage.hash)
      if (this.overwrite_enable || this.approved_status === 'rejected') {
        this.$refs.input_file.click()
      } else {
        this.setCommonInfoFrame('You have uploaded an artwork.')
      }
    },
    uploadRequest(event) {
      let upload_file = event.target.files[0];
      if (upload_file == null) {
        return
      }
      if (typeof(this.albumBucketName) === "undefined" ||
        typeof(this.bucketRegion) === "undefined" ||
        typeof(this.IdentityPoolId) === "undefined") {
          return console.log('aws s3 not ready')
      }
      let s3Conn = NewS3Conntection(this.albumBucketName, this.bucketRegion, this.IdentityPoolId)
      let photoKey = getKey(localStorage.hash)
      console.log('user md5', localStorage.hash, photoKey)
      this.uploadInfoFrameVisible = true
      this.uploadText = 'Uploading'
      this.uploadInfoIcon = true
      upload_image(
        (err, data) => {
          if (err) {
            this.setUploadInfo('Upload Failed')
            console.log('s3 upload error:', err.message)
            return
          }

          console.log('loc', data.Location)
          let formData = new FormData()
          formData.append('access_token', localStorage.hash)
          formData.append('img_url', data.Location)
          formData.append('img_thumb_url', data.Location)
          formData.append('game_id', this.getQueryStringByIndex('gameid'))
          this.$http.post('/api/upload', formData).then(
            res => {
              if (res.data.rc !== 0) {
                this.setUploadInfo('Upload Failed')
                console.log('api upload error', res.data.rc)
                return
              }
              this.setUploadInfo('Upload Success')
              this.overwrite_enable = false
            },
            err => {
              console.log('api request error', err)
              this.setUploadInfo('Upload Failed')
            }
          )
        },
        s3Conn,
        upload_file,
        photoKey
      )
    },

    setUploadInfo(info) {
      this.uploadInfoIcon = false
      this.uploadText = info
      let that = this
      setTimeout(function() {that.uploadInfoFrameVisible = false}, 2000)
    },

    getParams(callback) {
      let initParamsData = new FormData()
      initParamsData.append('user_token', this.$route.query.token)
      initParamsData.append('kingdom', this.$route.query.kingdom)
      initParamsData.append('lord_name', this.getQueryStringByIndex('lordname'))
      this.$http.post('/api/init', initParamsData).then(
        res => {
          if (res.data.rc !== 0) {
            return console.log('request error', res.data.rc)
          }
          localStorage.setItem('hash', res.data.access_token)
          let paramsData = new FormData()
          paramsData.append('access_token', localStorage.hash)
          this.$http.post('/api/params', paramsData).then(
            res => {
              if (res.data.rc !== 0) {
                return console.log('request error', res.data.rc)
              }

              this.albumBucketName = res.data.params.s3_bucket
              this.bucketRegion = res.data.params.s3_bucket_region
              this.IdentityPoolId = res.data.params.s3_pool_id
              this.changeEnable = res.data.params.change_enable
              this.uploadInterval = res.data.params.upload_interval
              this.overwrite_enable = res.data.params.overwrite_enable
              this.approved_status = res.data.params.approved_status
              callback()
              console.log('res data', res.data)
            },
            err => {
              console.log(err)
              this.setCommonInfoFrame('Network error. Please reopen and try again.', true)
            }
          )
        },
        err => {
          console.log(err)
          this.setCommonInfoFrame('Network error. Please reopen and try again.', true)
        }
      )
    },

    clickImage(imgInfo) {
      this.detilsFrameVisible = true
      this.searchFrameVisible = false
      this.homeFrameVisible = false
      this.uploadFrameVisible = false

      this.detalsImg = imgInfo.href
      this.detalsKingdom = imgInfo.kingdom
      this.detalsLordName = imgInfo.lord_name
      this.detalsLike = imgInfo.votes
      this.detalsId = imgInfo.id
      this.detalsVoted = imgInfo.voted
      this.detilsImageScroll.zoom(1.0)
    },

    closeDetilsDlg() {
      this.detilsFrameVisible = false
    },

    onWindowReisze() {
      let footer = this.$el.getElementsByClassName('footer')[0]
      this.waterfallHeight = window.innerHeight - footer.clientHeight
    }
  },

  mounted() {
    this.size = this.defaultSize
    this.getParams(this.getData)

    window.addEventListener('resize', () => {
      this.onWindowReisze()
    })

    this.onWindowReisze()

    this.detilsImageScroll = new IScroll('#wrapper', {
      zoom: true,
      scrollX: true,
      scrollY: true,
      freeScroll:true,
      zoomMin:1,
      zoomMax:4,
      bounce:false,
      momentum:false,
      disableMouse:true,
      disablePointer:true,
    })

    // log
    let logInfo = {
      d_c2: {
        value: 'Biography',
        key: 'position'
      },
      d_c3: {
        value: 'Button_Click',
        key: 'action'
      },
      ma: {
        value: this.$route.query.token,
        key: 'uid'
      },
      m2: {
        key: 'Success',
        value: 'Browser',
        type: 'Anniversary'
      }
    }
    let info = {
      data_version: '2.0',
      session_id: '',
      event: 'CMS',
      user_id: '',
      app_id: this.$route.query.gameid
    }
    info['properties'] = logInfo
    info['properties']['d_c1'] = {
      value: 'Web',
      key: 'datafrom'
    }
    this.log = 'http://cms-release.kingsgroupgames.com/api/cms/logger?log=' + JSON.stringify(info)
    // this.$http.jsonp('http://cms-release.kingsgroupgames.com/api/cms/logger', {
    //     params: {
    //       log: JSON.stringify(info)
    //     },
    //     jsonp: '_callback'
    //   })
    //   .then(function(data){
    //     console.log(data)
    //   })

  },
}
</script>

<style lang="scss">

html,
body,
#app_com {
  height: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.logItem{
  opacity: 0;
  position: fixed;
  top: 0;
  left: 101%;
}

</style>
